# build directory
Objects/*
binHistory/
hexHistory/
!Objects/*.fed
artifacts/*
!artifacts/.gitkeep

# build files
*.hex
*.bin
*.map
*.lst

# compile project
.vscode/
*uvopt*
*.bak
*uvgui*
*.dep
.idea/
.DS_Store